[Unit]
Description=Servicio que sube las credenciales a github 
After=getty.target

[Service]
Type=simple
ExecStart=/home/user/Desktop/sshScript.sh
USer=user

[Install]
WantedBy=multi-user.target

